@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body{
  background-color: rgba(251, 255, 0, 0.372);
  font-family: 'Comfortaa', cursive;
  background-image: url('https://as1.ftcdn.net/v2/jpg/03/81/63/52/1000_F_381635280_Q2VjB89QDoZvJPwWqWSHD3280Ic2vQmC.jpg');
  color : white
}
h1{
  font-size: 75px;
  background-color: black;
}

h3{
  background-color: black;
  text-align: center;
  width: 50%

}

.removeBullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button{
  text-decoration: none;
  
}

.homepage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.to-login-button {
  display: block;
  width: 15%;
  font-size: 25px;
  box-shadow: 5px 3px 5px;
}

.login-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#login-button{
  display: block;
  width: 15%;
  font-size: 25px;
  box-shadow: 5px 3px 5px;
  margin-top: 30px;
}

#signup-button{
  display: block;
  width: 15%;
  font-size: 25px;
  box-shadow: 5px 3px 5px;
  margin-top: 30px;
}

.git-login-button{
  display: block;
  width: 20%;
  font-size: 25px;
  box-shadow: 5px 3px 5px;
  margin-bottom: 30px;
}

.user-fields{
  display: block;
  width: 25%;
  font-size: 25px;
  padding: 14px 28px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: black;
}

.signup-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.match-page{

}

.swipe-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonCard{
  margin: 20px;
}

.cardLabel{
  display:flex;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  // padding: 10px;
  background-color: black;
  text-align: center;
}


// things to add:
  // background color for all pages
  // button styling
  // fonts
  // centering